body {
    margin: 0;
    background-image: url(../images/index-background.png);
    background-size: cover;
    background-position: center;
}

/* Navbar start */
nav {
    margin-top: 5px;
    background-color: rgba(0, 0, 0, 0.2);
    width: 100%;
    height: 70px;
}

img#logoimg {
    margin-top: 5px;
    margin-left: 5px;
    width: 70px;
    height: auto;
    display: inline-block;
}

ul li.navli {
    display: inline-block;
    float: right;
    margin-top: 20px;
    padding-left: 50px;
}

ul {
    margin-right: 50px;
}

a.navlink {
    text-decoration: none;
    color: black;
    font-family: arial;
    font-size: 20pt;
}

a.navlink:hover {
    text-decoration: underline;
}

a#active {
    text-decoration: underline;
}

/* Navbar Slut */

/* Footer start */
footer {
    background-color: rgba(0, 0, 0, 0.2);
    height: 200px;
}

hr.footerline {
    background-color: black;
    height: 2px;
    border: 0;
    width: 20%;
    float: left;
}

.ommig {
    width: 26%;
    margin-left: 10%;
    display: inline-block;
    vertical-align: top;
}

h6#ommigh {
    font-family: arial;
    font-size: 16pt;
    margin-top: 10px;
    margin-bottom: 0;
}

p#ommigp {
    font-family: arial;
    font-size: 10pt;
    margin-top: 2px;
}

.quicklinks {
    width: 26%;
    margin-left: 5%;
    display: inline-block
}

h6#quicklinksh {
    font-family: arial;
    font-size: 16pt;
    margin-top: 10px;
    margin-bottom: 0;
}

a.footerlink {
    font-family: arial;
    font-size: 10pt;
    text-decoration: none;
    color: black;
    float: left;
}

a.footerlink:hover {
    text-decoration: underline;
}

ul.footerul li.footerli {
    display: inline-block;
}

ul.footerul {
    padding: 0;
    margin: 0;
}

.kontaktdetaljer {
    width: 26%;
    margin-right: 6%;
    float: right;
    
}

h6#kontaktdetaljer {
    font-family: arial;
    font-size: 16pt;
    margin-top: 10px;
    margin-bottom: 0;
}

i.material-icons {
    display: inline-block;
}

p#phone {
    font-family: arial;
    font-size: 10pt;
    display: inline-block;
    padding: 0;
    margin: 0;
    vertical-align: super;
}

p#mail {
    font-family: arial;
    font-size: 10pt;
    display: inline-block;
    padding: 0;
    margin: 0;
    vertical-align: super;
}

img#facebook {
    width: 35px;
    display: inline-block;
}

img#instagram {
    width: 35px;
    display: inline-block;
    margin-left: 20px;
}

/* Footer slut */

.aboutheader {
    width: 100%;
    height: 400px;
    background-image: url(../images/Aboutbanner.png);
    background-size: cover;
    margin-top: 5%;
}

h1#headertitle {
    font-family: arial;
    color: white;
    margin: 0 0 0 10%;
    padding-top: 25px;
    display: block;
}

p#headerresume {
    font-family: arial;
    color: white;
    margin: 0 50% 0 10%;
    font-size: 12pt;
}

hr#headerline1 {
    width: 10%;
    border: 0;
    background-color: white;
    height: 2px;
    float: left;
    margin-left: 10%;
}

hr.spacingline {
    height: 3px;
    border: 0;
    background-color: grey;
    margin: 5% 0 5% 0;
}

.fritid {
    width: 100%;
    height: 400px;
    background-image: url(../images/Fritidbanner.png);
    background-size: cover;
    background-position: center;
}

h1#fritidtitle {
    margin: 0 0 0 50%;
    padding-top: 25px;
    font-family: arial;
    color: white;
}

p#fritidresume {
    font-family: arial;
    color: white;
    margin: 0 10% 0 50%;
    font-size: 12pt;
}

hr#headerline2 {
    width: 10%;
    border: 0;
    background-color: white;
    height: 2px;
    float: left;
    margin-left: 50%;
}

.uddannelse {
    width: 100%;
    height: 400px;
    background-image: url(../images/Uddannelsebanner.png);
    background-size: cover;
    background-position: center;
    margin-bottom: 10%;
}

h1#uddannelsetitle {
    font-family: arial;
    color: white;
    margin: 0 0 0 10%;
    padding-top: 25px;
}

hr#headerline3 {
    width: 10%;
    border: 0;
    background-color: white;
    height: 2px;
    float: left;
    margin-left: 10%;
}

p#uddannelseresume {
    margin: 0 50% 0 10%;
    font-family: arial;
    font-size: 12pt;
    color: white;
}