body {
    margin: 0;
    background-image: url(../images/index-background.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* Navbar start */
nav {
    margin-top: 5px;
    background-color: rgba(0, 0, 0, 0.2);
    width: 100%;
    height: 70px;
}

img#logoimg {
    margin-top: 5px;
    margin-left: 5px;
    width: 70px;
    height: auto;
    display: inline-block;
}

ul li.navli {
    display: inline-block;
    float: right;
    margin-top: 20px;
    padding-left: 50px;
}

ul {
    margin-right: 50px;
}

a.navlink {
    text-decoration: none;
    color: black;
    font-family: arial;
    font-size: 20pt;
}

a.navlink:hover {
    text-decoration: underline;
}

a#active {
    text-decoration: underline;
}
/* Navbar Slut */

/* Footer start */
footer {
    background-color: rgba(0, 0, 0, 0.2);
    height: 200px;
}

hr.footerline {
    background-color: black;
    height: 2px;
    border: 0;
    width: 20%;
    float: left;
}

.ommig {
    width: 26%;
    margin-left: 10%;
    display: inline-block;
    vertical-align: top;
}

h6#ommigh {
    font-family: arial;
    font-size: 16pt;
    margin-top: 10px;
    margin-bottom: 0;
}

p#ommigp {
    font-family: arial;
    font-size: 10pt;
    margin-top: 2px;
}

.quicklinks {
    width: 26%;
    margin-left: 5%;
    display: inline-block
}

h6#quicklinksh {
    font-family: arial;
    font-size: 16pt;
    margin-top: 10px;
    margin-bottom: 0;
}

a.footerlink {
    font-family: arial;
    font-size: 10pt;
    text-decoration: none;
    color: black;
    float: left;
}

a.footerlink:hover {
    text-decoration: underline;
}

ul.footerul li.footerli {
    display: inline-block;
}

ul.footerul {
    padding: 0;
    margin: 0;
}

.kontaktdetaljer {
    width: 26%;
    margin-right: 6%;
    float: right;
    
}

h6#kontaktdetaljer {
    font-family: arial;
    font-size: 16pt;
    margin-top: 10px;
    margin-bottom: 0;
}

i.material-icons {
    display: inline-block;
}

p#phone {
    font-family: arial;
    font-size: 10pt;
    display: inline-block;
    padding: 0;
    margin: 0;
    vertical-align: super;
}

p#mail {
    font-family: arial;
    font-size: 10pt;
    display: inline-block;
    padding: 0;
    margin: 0;
    vertical-align: super;
}

img#facebook {
    width: 35px;
    display: inline-block;
}

img#instagram {
    width: 35px;
    display: inline-block;
    margin-left: 20px;
}

/* Footer slut */

form {
    width: 40%;
    margin-left: 10%;
    
    display: inline-block;
}

label {
    font-family: arial;
    font-size: 16pt;
    margin-top: 20px;
    margin-bottom: -15px;
    display: block;
}

label#top {
    margin-top: 0;
}

input.expand{
    width: 50%;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    box-sizing: border-box;
    border: 3px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
    padding: 12px 20px;
}

input.expand:focus {
    width: 90%;
    border: 3px solid #555;
}

textarea {
    width: 50%;
    height: 150px;
    box-sizing: border-box;
    border: 3px solid #ccc;
    outline: none;
    padding: 12px 20px;
    resize: none;
    display: block;
    transition: width 0.4s;
    -webkit-transition: width 0.4s;
}

textarea:focus {
    width: 90%;
    border: 3px solid #555;
}

input#send {
    margin-top: 2%;
    width: 50%;
    box-sizing: border-box;
    border: 3px solid #ccc;
    background-color: red;
    outline: none;
    padding: 12px 20px;
    color: white;
     -o-transition:.4s;
    -ms-transition:.4s;
    -moz-transition:.4s;
    -webkit-transition:.4cs;
    transition:.4s;
}

input#send:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    border: 3px solid #555;
    outline: none;
}
#map {
    width: 40%;
    height: 503px;
    margin-right: 10%;
    display: inline-block;
    float: right;
}

h2#titlecontact {
    margin-left: 10%;
    font-family: arial;
    font-size: 25pt;
    margin-bottom: 1%;
}

.kontaktdetails {
    margin: 10% 0 0 10%;
    display: inline-block;
    width: 40%;
}

p#phone1 {
    font-family: arial;
    display: inline-block;
    font-size: 12pt;
    vertical-align: super;
    margin-top: 10px;
}

p#email1 {
    font-family: arial;
    display: inline-block;
    font-size: 12pt;
    vertical-align: super;
    margin-top: 10px;
}

p#home1 {
    font-family: arial;
    display: inline-block;
    font-size: 12pt;
    vertical-align: super;
    margin-top: 10px;
}

i#homeicon {
    vertical-align: top; 
    margin-top: 6px;
}

h2#kontakdetailtitle {
    font-family: arial;
    font-size: 16pt;
    margin: 0;
}

hr#little1 {
    border: 0;
    height: 2px;
    background-color: black;
    width: 13%;
    float: left;
}

.socialmedia {
    width: 40%;
    float: right;
    margin-right: 10%;
    margin-top: 10%;
}

.facebook {
    width: 49%;
    display: inline-block;
}

.instagram {
    width: 49%;
    display: inline-block;
}

h2#facebooktitle {
    margin: 0;
    font-family: arial;
    font-size: 16pt;
}

hr#little2 {
    border: 0;
    height: 2px;
    background-color: black;
    width: 26%;
    float: left;
}

img#facebookimg {
    width: 50%;
    margin-top: 10px;
}

p#fblink {
    font-family: arial;
    margin: 0;
}

a#facebooklink {
    text-decoration: none;
    color: black;
}

a#instagramlink {
    text-decoration: none;
    color: black;
}

h2#instagramtitle {
    margin: 0;
    font-family: arial;
    font-size: 16pt;
}

img#instagramimg {
    width: 50%;
    margin-top: 10px;
}

p#iglink {
    font-family: arial;
    margin: 0;
}

