body {
    margin: 0;
    background-image: url(../images/index-background.png);
    background-size: cover;
}

/* Navbar start */
nav {
    margin-top: 5px;
    background-color: rgba(0, 0, 0, 0.2);
    width: 100%;
    height: 70px;
}

img#logoimg {
    margin-top: 5px;
    margin-left: 5px;
    width: 70px;
    height: auto;
    display: inline-block;
}

ul li.navli {
    display: inline-block;
    float: right;
    margin-top: 20px;
    padding-left: 50px;
}

ul {
    margin-right: 50px;
}

a.navlink {
    text-decoration: none;
    color: black;
    font-family: arial;
    font-size: 20pt;
}

a.navlink:hover {
    text-decoration: underline;
}

/* Navbar Slut */

/* Footer start */
footer {
    background-color: rgba(0, 0, 0, 0.2);
    height: 200px;
}

hr.footerline {
    background-color: black;
    height: 2px;
    border: 0;
    width: 20%;
    float: left;
}

.ommig {
    width: 26%;
    margin-left: 10%;
    display: inline-block;
    vertical-align: top;
}

h6#ommigh {
    font-family: arial;
    font-size: 16pt;
    margin-top: 10px;
    margin-bottom: 0;
}

p#ommigp {
    font-family: arial;
    font-size: 10pt;
    margin-top: 2px;
}

.quicklinks {
    width: 26%;
    margin-left: 5%;
    display: inline-block
}

h6#quicklinksh {
    font-family: arial;
    font-size: 16pt;
    margin-top: 10px;
    margin-bottom: 0;
}

a.footerlink {
    font-family: arial;
    font-size: 10pt;
    text-decoration: none;
    color: black;
    float: left;
}

a.footerlink:hover {
    text-decoration: underline;
}

ul.footerul li.footerli {
    display: inline-block;
}

ul.footerul {
    padding: 0;
    margin: 0;
}

.kontaktdetaljer {
    width: 26%;
    margin-right: 6%;
    float: right;
    
}

h6#kontaktdetaljer {
    font-family: arial;
    font-size: 16pt;
    margin-top: 10px;
    margin-bottom: 0;
}

i.material-icons {
    display: inline-block;
}

p#phone {
    font-family: arial;
    font-size: 10pt;
    display: inline-block;
    padding: 0;
    margin: 0;
    vertical-align: super;
}

p#mail {
    font-family: arial;
    font-size: 10pt;
    display: inline-block;
    padding: 0;
    margin: 0;
    vertical-align: super;
}

img#facebook {
    width: 35px;
    display: inline-block;
}

img#instagram {
    width: 35px;
    display: inline-block;
    margin-left: 20px;
}

/* Footer slut */